@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: url("images/Background2.png");
  background-size: cover;
  background-position: center;
}

.container {
  background: white;
  width: min(90vw, 500px);
  padding: 1.5rem;
  border-radius: 5px;
  display: grid;
  gap: 2rem;
}

.seperator {
  height: 0.5px;
  width: 100%;
  background: #ccc;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seperator::before {
  content: "or";
  padding: 0 15px;
  background: white;
  color: #ccc;
}

.input-search-bar {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  border: 1px solid lightgray;
}

.input-search-bar input {
  width: 100%;
  border: none;
  padding: 10px 5px;
  outline: none;
}

button {
  background: #037bfc;
  padding: 0 10px;
  border: none;
  color: white;
  border-radius: 4px;
}

button:hover,
button:active {
  background: #1663de;
}

#location-search-btn {
  padding: 10px 10px;
  width: 100%;
}

.container .top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #747475;
  flex-wrap: wrap;
  overflow: scroll;
}

#time {
  font-size: 1rem;
}
h1#temperature {
  font-size: 4rem;
  text-align: center;
  color: #090233;
}

p#sky {
  text-align: center;
  color: #66637a;
}

.bottom-content {
  color: #66637a;
  font-size: 1.2rem;
}

.bottom-content span {
  margin-left: 5px;
}
